.header {
  padding-bottom: 50;
  position: relative;
}
.header .head_logo {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.header h5 {
  font-size: 35px;
}
.header .navbar-toggler {
  display: none;
}
.header .link-min {
  font-size: 25px;
  margin-bottom: 25px;
  padding-left: 70px;
}
.header .link-min a {
  padding: 0 15px;
  color: gray;
}
.header .dop a {
  font-size: 25px;
  line-height: 50px;
  color: rgb(178, 173, 173);
}

.general {
  background: url("../img/dor.jpg") center center no-repeat;
  width: 100%;
  height: 800px;
  padding-top: 200px;
}
.general .text {
  text-align: center;
  background-color: rgba(232, 224, 224, 0.4);
}
.general .text h1 {
  font-size: 50px;
  font-weight: 800;
}
.general .text p {
  padding: 0 145px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(248, 248, 248);
  word-spacing: 5px;
  line-height: 45px;
}

.dopp {
  background-color: rgb(47, 245, 47);
}

.foto-block {
  background-color: rgba(177, 167, 167, 0.5);
}
.foto-block .dop img {
  padding: 250px;
}

.haracteris {
  background-color: rgba(134, 129, 129, 0.5);
  padding-top: 50px;
  padding-bottom: 50px;
}
.haracteris h2 {
  font-size: 20px;
  padding-left: 25px;
  padding-bottom: 25px;
}
.haracteris img {
  width: 200px;
  height: 350px;
}
.haracteris .img1 img {
  width: 350px;
  height: 200px;
}
.haracteris .disp {
  background-color: rgba(218, 165, 32, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  padding: 15px 10px;
  line-height: 25px;
}

.contactus {
  background-color: rgba(68, 62, 62, 0.5);
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 40px;
  color: green;
}
.contactus img {
  width: 250px;
  height: 300px;
  padding: 15px;
}
.contactus .text a {
  color: rgb(34, 240, 113);
}